<!-- Should find a way to pass the game information -->
<h2>Game: <%= params[:game][:name] %></h2>

<p>Place your fleet.</p>

<%= link_to "Exit to lobby", root_url %>
<!-- link_to "Surrender", board_destroy_url, method: :delete -->